/* === Coded by DOLCHA === */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* -=-=- GENERAL -=-=- */
* {
  list-style: none;
  outline: none;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f0f2f5;
}

ul {
  margin: 0;
  padding: 0;
}

/* -=-=- COLORS -=-=- */
/* -=-=- HEADER STYLE -=-=- */
#header {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  -webkit-box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
          box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
  z-index: 100;
  background-color: white;
}

#header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .logo a {
  display: block;
}

#header .logo a img {
  height: 40px;
}

#header .navi-menu {
  text-transform: capitalize;
  font-size: 15.5px;
}

#header .navi-menu ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header .navi-menu ul li {
  margin: 0 12px;
  line-height: 80px;
}

#header .navi-menu ul li a {
  display: block;
  position: relative;
  color: #878787;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
}

#header .navi-menu ul li a:hover {
  color: #3858f6;
}

#header .navi-menu ul li a:hover::before {
  width: 100%;
}

#header .navi-menu ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #3858f6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#header .navi-menu ul li .drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 240px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
          box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
  margin-top: .4px;
}

#header .navi-menu ul li .drop-menu ul li {
  margin: 10px 0;
  line-height: 2;
}

#header .navi-menu ul li .drop-menu ul li a {
  display: block;
}

#header .navi-menu ul li .drop-menu ul li a::before {
  content: none;
}

#header .navi-menu ul li .drop-menu.big {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 1230px;
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#header .navi-menu ul li .drop-menu.big .big-menu {
  position: relative;
}

#header .navi-menu ul li .drop-menu.big .big-menu.left {
  position: relative;
  min-width: 279px;
  padding: 30px;
  border-right: 1px solid #ced0d4;
}

#header .navi-menu ul li .drop-menu.big .big-menu.left ul {
  padding-left: 20px;
}

#header .navi-menu ul li .drop-menu.big .big-menu.left ul li a {
  display: block;
  font-weight: 300;
  line-height: 28px;
  overflow: hidden;
}

#header .navi-menu ul li .drop-menu.big .big-menu.left ul li a.active {
  color: #3858f6;
}

#header .navi-menu ul li .drop-menu.big .big-menu.left ul li a:hover span:nth-child(1) {
  top: -30px;
}

#header .navi-menu ul li .drop-menu.big .big-menu.left ul li a:hover span:nth-child(2) {
  top: 0;
}

#header .navi-menu ul li .drop-menu.big .big-menu.left ul li a span {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

#header .navi-menu ul li .drop-menu.big .big-menu.left ul li a span:nth-child(1) {
  position: relative;
  top: 0;
}

#header .navi-menu ul li .drop-menu.big .big-menu.left ul li a span:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 0;
}

#header .navi-menu ul li .drop-menu.big .big-menu.right {
  width: 83.589%;
  padding: 30px;
}

#header .navi-menu ul li.home, #header .navi-menu ul li.post, #header .navi-menu ul li.page, #header .navi-menu ul li.shop {
  position: relative;
}

#header .navi-menu ul li.home:hover .drop-menu, #header .navi-menu ul li.post:hover .drop-menu, #header .navi-menu ul li.page:hover .drop-menu, #header .navi-menu ul li.shop:hover .drop-menu {
  opacity: 1;
  visibility: visible;
}

#header .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .search-bar .search-area {
  position: relative;
}

#header .search-bar .search-area input {
  max-width: 220px;
  height: 35px;
  padding: 0 20px 0 46px;
  background-color: #f0f2f5;
  color: #65676b;
  border: 1px solid transparent;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: .3s;
  transition: .3s;
}

#header .search-bar .search-area input:focus {
  border-color: #3858f6;
}

#header .search-bar .search-area i {
  position: absolute;
  top: 50%;
  left: 18px;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  font-size: 20px;
  color: #65676b;
}

#header .search-bar .cart {
  margin-left: 5px;
  position: relative;
}

#header .search-bar .cart a {
  display: block;
  width: 35px;
  height: 35px;
  background-color: #f0f2f5;
  border-radius: 50%;
  text-align: center;
  line-height: 41px;
  color: #65676b;
  -webkit-transition: .3s;
  transition: .3s;
}

#header .search-bar .cart a:hover {
  background-color: #3858f6;
  color: white;
}

#header .search-bar .cart a i {
  font-size: 17px;
}

#header .search-bar .cart span {
  position: absolute;
  top: -5px;
  right: -2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3858f6;
  color: white;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  z-index: 2;
}

#header .hamburger-icon {
  display: none;
}

/* -=-=- RESPONSIVE STYLE -=-=- */
/*# sourceMappingURL=style.css.map */